*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin/
/.idea/
/app/src/main/assets/model/decoder.int8.onnx
/app/src/main/assets/model/encoder.int8.onnx
/app/src/main/assets/model/tokens.txt
